{% extends 'blog/base.html' %} {% load widget_tweaks %} {% block content %}
<div class="container">
  <form method="POST" novalidate>
    {% csrf_token %} {% for field in form.visible_fields %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field|add_class:'form-control' }} {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
    {% endfor %}

    <div class="form-group">
      <button class="btn-success btn mt-4" type="submit">
        <span class="glyphicon glyphicon-ok"></span> Edit
      </button>
      <a href="{% url 'blog:admin' %}" class="btn btn-default mt-4">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
