{% extends 'blog/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}" />
<div class="container">
  <div class="row">
    {% for core in data %}

    <div class="blog-card">
      <div class="meta">
        <div
          class="photo"
          style="
            background-image: url({{core.img.url}});
          "
        ></div>
        <ul class="details">
          <li class="author">{{core.author}}</li>
          <li class="date">Aug. 24, 2015</li>
        </ul>
      </div>
      <div class="description">
        <h1>{{core.title}}</h1>
        <p>{{core.content}}</p>
        <p class="read-more">
          <a href="{% url 'blog:single' core.id%}">Read More</a>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
