{% load static %}

<div class="container">
  <header
    class="
      d-flex
      flex-wrap
      align-items-center
      justify-content-center justify-content-md-between
      py-3
      mb-4
      border-bottom
    "
  >
    <a
      href="/"
      class="
        d-flex
        align-items-center
        col-md-3
        mb-2 mb-md-0
        text-dark text-decoration-none
      "
    >
      <img
        src="{% static 'blog/logo.png' %}"
        width="100"
        height="50"
        alt="logo"
      />
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a href="{% url 'blog:index' %}" class="nav-link px-2 link-secondary"
          >Home</a
        >
      </li>
      {% if request.user.is_authenticated %}
      <li>
        <a href="{% url 'blog:admin' %}" class="nav-link px-2 link-dark"
          >Dashboard</a
        >
      </li>
      <li>
        <a href="{% url 'blog:add' %}" class="nav-link px-2 link-dark"
          >Add New</a
        >
      </li>
      {%endif%}
    </ul>
    {% if request.user.is_authenticated %}

    <div class="col-md-3 text-end">
      <a href="{% url 'blog:admin' %}" class="btn btn-outline-primary me-2"
        >Dashboard</a
      >
      <a href="{% url 'blog:logout' %}" class="btn btn-primary">Logout</a>
    </div>
    {% else %}
    <div class="col-md-3 text-end">
      <a href="{% url 'blog:login' %}" class="btn btn-outline-primary me-2"
        >Login</a
      >
      <a href="{% url 'blog:register' %}" class="btn btn-primary">Register</a>
    </div>
    {% endif %}
  </header>
</div>
